.background {
 background-image: url("imgs/195.png");
 /* width: 150px; */
 background-color: yellow;
}

input{
    box-sizing: border-box;
}
h1 {
  font-family: 'Acme', sans-serif;
  color: red;
}
h2 {
  font-family: 'Acme', sans-serif;
  color: red;
}
p {
  font-family: 'Acme', sans-serif;
  color: red;
}


winner-list {
  /* font-family: 'Acme', sans-serif;
  color: red; */
  width: fit-content;
  padding: 0.5em;
  margin: 0.5em;
  border-style: double;
  box-sizing: border-box;
}

li {
  width: fit-content;
  padding: 0.5em;
  margin: 0.5em;
  border-style: double;
  box-sizing: border-box;
  background-color: lightblue;


form {
  width: fit-content;
  padding: 0.5em;
  margin: 0.5em;
  border-style: double;
  box-sizing: border-box;
  background-color: lightblue;
} */
